footer.footer
  .container
    .row
      .col-md-3
        h5
          | B
          span(style='color: #4b5cc4;') PLAY
        p We create experiences for brands and companies by using technology.
        div
          a(href='#')
            i.fab.fa-facebook-f
          |  
          a(href='#')
            i.fab.fa-twitter
          |  
          a(href='#')
            i.fab.fa-linkedin-in
      .col-md-2
        h6 About Us
        ul.list-unstyled
          li
            a(href='#') Home
          li
            a(href='#') Features
          li
            a(href='#') About
          li
            a(href='#') Testimonial
      .col-md-2
        h6 Features
        ul.list-unstyled
          li
            a(href='#') How it works
          li
            a(href='#') Privacy policy
          li
            a(href='#') Terms of service
          li
            a(href='#') Refund policy
      .col-md-2
        h6 Our Products
        ul.list-unstyled
          li
            a(href='#') Lineicons
          li
            a(href='#') Ecommerce HTML
          li
            a(href='#') Ayro UI
          li
            a(href='#') Linea Admin
      .col-md-3
        h6 Partners
        ul.list-unstyled
          li
            a(href='#') Ayro UI
          li
            a(href='#') GrayGrids
          li
            a(href='#') UIdeck
          li
            a(href='#') Lineicons
          li
            a(href='#') Tailwind Templates
    hr
    .text-center
      p Privacy policy | Support policy | Terms of service
      p Designed and Developed by ABCD