html 
    head 
        title attributes in pug 
    body 
        h1(align="center") how to give attributes with pug 
        <hr width='50%' />
        table(border=1,align='center',width=500,cellpadding=10)
            tr 
                th(align='center',width='100px')
                    |Name 
                th 
                    |HTML 
                th
                    |css 
                th 
                    |javascript
            tr 
                td. 
                    Ram 
                td. 
                    50
                td. 
                    60
                td.
                    70
            tr 
                td. 
                    krishna 
                td. 
                    60
                td.
                    70
                td. 
                    80
        h2 end of table 
