header.header
  .container
    nav.navbar.navbar-expand-lg
      a.navbar-brand(href='#')
        | B
        span(style='color: #4b5cc4;') PLAY
      .collapse.navbar-collapse.justify-content-end
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='aboutus') Home
          li.nav-item
            a.nav-link(href='aboutus') About
          li.nav-item
            a.nav-link(href='pricing') Pricing
          li.nav-item
            a.nav-link(href='contactus') Contact