html 
    head 
        title 3rd example of pug 
    body 
        h1 vande mataram 
        <hr/>
        div. 
                वन्दे मातरम् <br/>
                सुजलां सुफलाम् मलयजशीतलाम् <br/>
                शस्यश्यामलाम् मातरम्। <br/>
                वन्दे मातरम्। <br/>
                शुभ्रज्योत्स्ना पुलकितयामिनीम् <br/>
                फुल्लकुसुमित द्रुमदलशोभिनीम् <br/>
                सुहासिनीम् सुमधुर भाषिणीम् <br/>
                सुखदां वरदां मातरम्। <br/>
                वन्दे मातरम्। <br/>
        h2 jay hind 